<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{'Interviews' | translate}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">{{'Dashboard' | translate}}</a></li>
                    <li class="breadcrumb-item active">{{'List the offers' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row filter-row">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" #title class="form-control floating" (input)="searchTitle($event.target.value)">
                <label class="focus-label">{{'Title' | translate}}</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <button (click)="searchTitle(title.value)" class="btn btn-success btn-block"> {{'Search' | translate}} </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="datatable"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>{{'Title' | translate}}</th>
                            <th>{{'Domain' | translate}}</th>
                            <th>{{'Experience' | translate}}</th>
                            <th>{{'City' | translate}}</th>
                            <th>{{'Creation date' | translate}}</th>
                            <th class="text-center">{{'Status' | translate }}</th>
                            <th class="text-center">{{'Workflow' | translate}}</th>
                            <th class="text-center">{{'Interviews' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of offers;let i = index">
                            <td><a routerLink="/entreprise/interviews/interviews-by-offer/{{offer.id}}">{{offer.title}}</a></td>
                            <td>{{offer.domaine}}</td>
                            <td>{{offer.experience}} ans</td>
                            <td>{{offer.city}}</td>
                            <td>{{offer.createdDate | date: "dd-mm-yyyy, HH'h':mm"}}</td>
                            <td class="text-center">
                                <div class="dropdown action-label" *ngIf="offer.status === 'open'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-success"></i> {{'Open' | translate}}
                                    </a>
                                </div>
                                <div class="dropdown action-label" *ngIf="offer.status === 'closed'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-danger"></i> {{'Closed' | translate}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a routerLink="/entreprise/interviews/workflow-interviews/{{offer.id}}"
                                    class="btn btn-sm btn-primary">{{'manage workflow' | translate}}</a>
                            </td>
                            <td>
                                <a routerLink="/entreprise/interviews/interviews-by-offer/{{offer.id}}"
                                    class="btn btn-sm btn-primary">{{'List interviews' | translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->