.head-table {
  background-color: rgb(255, 255, 255);
}
.add-interview {
  padding: 0 7px;
  margin-left: 40px;
}
.delete-item {
  font-size: 32px;
  margin-top: 32px;
}
.delete-item:hover {
  color: red;
  cursor: pointer;
}
.msg {
  text-align: center;
  color: red;
  margin: 20px auto;
  font-size: 17px;
}
.error {
  margin-top: -14px;
}
