<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">{{'Candidature' | translate}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="entreprise/dashboard">{{'Dashboard' | translate}}</a></li>
                    <li class="breadcrumb-item"><a routerLink="/entreprise/hr/preselection-campaigns">{{'Preselection Campaigns' | translate}}</a></li>
                    <li class="breadcrumb-item"><a routerLink="/entreprise/hr/preselection-campaign/{{offer.id}}">{{offer.title}}</a></li>
                    <li class="breadcrumb-item active">{{'Candidature' | translate}} {{candidature.firstName}} {{candidature.lastName}}</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" routerLink="/entreprise/hr/preselection-campaign/{{offer.id}}"><i class="fa fa-arrow-left"></i> {{'Back' | translate}} </a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{candidature.firstName}} {{candidature.lastName}} </h3>
                                        <h6 class="text-muted">{{'Status' | translate}} : {{candidature.status}}</h6>
                                        <div class="staff-id">Candidature ID : {{candidature.id}}</div>
                                        <div class="small doj text-muted">{{'Date of Application' | translate}} : -- </div>
                                        <div class="staff-msg"><a class="btn btn-custom" routerLink="/entreprise/apps/chat">{{'Send Message' | translate}}</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="title">{{'Phone' | translate}}:</div>
                                            <div class="text">{{candidature.phone}}</div>
                                        </li>
                                        <li>
                                            <div class="title">Email:</div>
                                            <div class="text">{{candidature.email}}</div>
                                        </li>
                                        <li>
                                            <div class="title">{{'Birthday' | translate}}:</div>
                                            <div class="text">--</div>
                                        </li>
                                        <li>
                                            <div class="title">{{'Address' | translate}}:</div>
                                            <div class="text">{{candidature.city}} {{candidature.country}}</div>
                                        </li>
                                        <li>
                                            <div class="title">{{'Gender' | translate}}:</div>
                                            <div class="text">--</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="tab-content">

        <!-- Profile Info Tab -->
        <div id="emp_profile" class="pro-overview tab-pane fade show active">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">{{'Diplomes' | translate}}</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li *ngFor="let d of diplomes">
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="javascript:" class="name">{{d.name}}</a>
                                                <div>{{d.school}} {{d.city}} </div>
                                                <span class="time">{{d.dateGraduation | date: 'yyyy'}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">{{'Experiences' | translate}}</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li *ngFor="let e of experiences">
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="javascript:" class="name">{{e.title}}</a>
                                                <div>{{e.company}} {{e.city}} </div>
                                                <span class="time">{{e.dateFrom | date: 'dd/MM/yyyy'}} - {{e.dateTo | date: 'dd/MM/yyyy'}}</span>
                                                <span class="time">Tasks : {{e.tasks}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">{{'Certificats' | translate}}</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    <li *ngFor="let c of certificats">
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <a href="javascript:" class="name">{{c.name}}</a>
                                                <div>{{c.description}} </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body">
                            <h3 class="card-title">{{'Skills' | translate}}</h3>
                            <form class="file-search" *ngIf="this.skills">
                                <div class="input-group" style="margin-bottom: 10px;">
                                    <input type="text" class="form-control" placeholder="Search" (input)="searchSkills($event.target.value)">
                                </div>
                            </form>
                            <div >
                                <span class="badge badge-secondary" style="margin-right: 5px;" *ngFor ="let s of lstSearchskills"> {{s.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Profile Info Tab -->

    </div>
</div>
<!-- /Page Content -->

