<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{'Users' | translate}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/entreprise/dashboard">{{'Dashboard' | translate}}</a></li>
                    <li class="breadcrumb-item active">{{'Users' | translate}}</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" routerLink = "/entreprise/users/create-entreprise-user" ><i class="fa fa-plus"></i>
                    {{'Add User' | translate}}</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchUserName($event.target.value)" >
                <label class="focus-label">{{'UserName' | translate}}</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchFirstName($event.target.value)" >
                <label class="focus-label">{{'First Name' | translate}}</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchLastName($event.target.value)" >
                <label class="focus-label">{{'Last Name' | translate}}</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a  class="btn btn-success btn-block"> {{'Search' | translate}} </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"class="table table-striped custom-table datatable"  id = "datatable">
                    <thead>
                        <tr>
                            <th>{{'UserName' | translate}}</th>
                            <th>Email</th>
                            <th>{{'First Name' | translate}}</th>
                            <th>{{'Last Name' | translate}}</th>
                            <th>{{'Roles' | translate}}</th>
                            <th class="text-right">{{'Action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let users of allUsers;let i = index">
                            <td>
                                <h2 class="table-avatar">
                                    <a routerLink = "/employees/employeeprofile" class="avatar"><img src="assets/img/profiles/avatar-0{{ i + 1 }}.jpg"
                                            alt=""></a>
                                    <a routerLink = "/employees/employeeprofile">{{users.username}} </a>
                                </h2>
                            </td>
                            <td>{{users.email}}</td>
                            <td>{{users.firstName}}</td>
                            <td>{{users.lastName}}</td>
                            <td>
                                <a href="javascript:"  data-toggle="modal" data-target="#user_roles" (click)="getUserRoles(users.id)">
                                    <span class="badge bg-inverse-info">roles</span>
                                </a>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" routerLink = "/entreprise/users/edit-entreprise-user/{{users.id}}">
                                            <i class="fa fa-pencil m-r-5"></i> {{'Edit' | translate}}
                                        </a>
                                        <a href="javascript:" class="dropdown-item"  data-toggle="modal" data-target="#delete_user" (click)="tempId = users.id">
                                            <i class="fa fa-trash-o m-r-5"></i> {{'Delete' | translate}}
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->



<!-- User Roles Modal -->
<div class="modal custom-modal fade" id="user_roles" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>{{'Roles' | translate}}</h3>
                    <div *ngFor="let role of user_roles">
                        <div class="alert alert-info" role="alert" style="height: 70px;">
                            <div>
                                <strong>{{'Name' | translate}} :</strong> {{role.name}} <br>
                                <strong>{{'Description' | translate}} :</strong> {{role.description}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /User Roles Modal -->

<!-- Delete User Modal -->
<div class="modal custom-modal fade" id="delete_user" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>{{'Delete User' | translate}}</h3>
                    <p>{{'Are you sure want to delete' | translate}}?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn" (click)="deleteUser()">{{'Delete' | translate}}</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">{{'Cancel' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete User Modal -->