<!-- Page Content -->
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{'Preselection Campaign Management' | translate}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/entreprise/dashboard">{{'Dashboard' | translate}}</a></li>
                    <li class="breadcrumb-item active"><a routerLink="/entreprise/hr/preselection-campaigns">{{'Preselection Campaigns' | translate }}</a></li>
                    <li class="breadcrumb-item active">{{offer.title}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="file-wrap file-sidebar-toggle">
                <div class="file-cont-wrap">
                    <div class="file-cont-inner">
                        <div class="file-cont-header">
                            <span>{{'Select Resumes' | translate}}</span>
                            <div class="file-options">
                                <span class="btn-file"><input type="file" class="upload" (change)="onFolderSelected($event)" webkitdirectory multiple accept=".pdf"><i
                                        class="fa fa-upload"></i></span>
                            </div>
                        </div>
                        <div class="file-content">
                            <form class="file-search" *ngIf="this.lstSearchList">
                                <div class="row">
                                    <div class="input-group col-sm-10">
                                        <div class="input-group-prepend" style="margin-left: 15px;">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Search"
                                            (input)="searchCV($event.target.value)">
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="btn btn-success btn-block" id="upload_btn" (click)="uploadCvs()"> {{'Upload' | translate}} </a>
                                    </div>
                                </div>
                            </form>
                            <div class="file-body">
                                <div class="file-scroll">
                                    <div class="file-content-inner">
                                        <p *ngIf="!this.lstSearchList" style="text-align: center;">{{'No file is available' | translate}} !!</p>
                                        <div class="row row-sm">
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3"
                                                *ngFor="let data of lstSearchList">
                                                <div class="card card-file">
                                                    <div class="dropdown-file">
                                                        <a href="javascript:void(0)" class="dropdown-link" data-toggle="dropdown"><i
                                                                class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" (click)="viewCV(data.name)"><i class="fa fa-eye m-r-5"></i> {{'View Details' | translate}}</a>
                                                            <a class="dropdown-item" (click)="deleteCV(data.name)"><i class="fa fa-trash m-r-5"></i> {{'Delete' | translate}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-file-thumb">
                                                        <i class="fa fa-file-o"></i>
                                                    </div>
                                                    <div class="card-body">
                                                        <h6><a href="javascript:void(0)">{{data.name}}</a></h6>
                                                        <span>{{data.size / 1021 |  number : '1.2-2'}} ko</span> <br>
                                                    </div>
                                                    <div class="card-footer">
                                                        <span class="d-none d-sm-inline">{{'Last Modified' | translate}}:
                                                        </span>{{data.lastModifiedDate | date: 'dd/MM/yyyy HH:mm:ss'}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="file-wrap">
                <!--
                <div class="progress" style="margin: 20px; visibility: hidden;" *ngIf="this.lstSearchList && this.progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                -->
                <section class="example-section" *ngIf="this.progress">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="color"
                        [mode]="mode">
                    </mat-progress-bar>
                  </section>
                <div class="file-sidebar">
                    <div class="file-header">
                        <span>Critères</span>
                        <div class="file-options">
                            <span class="btn-file clickable" data-toggle="modal" data-target="#add_critere"><i class="fa fa-plus"></i></span>
                        </div>
                        <a id="sidebar_toggle"  class="file-side-close"><i
                                class="fa fa-times"></i></a>
                    </div>
                    <div class="file-pro-list">
                        <div class="file-scroll" style="min-height: 300px;">
                            <div class="table-responsive tb" style="margin-top: 25px;" *ngIf="criteres.length > 0">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>{{'Name' | translate}}</th>
                                            <th>{{'Weight'| translate}}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let C of criteres">
                                            <td>{{C.name}}</td>
                                            <td>{{C.weight}} pts</td>
                                            <td>
                                                <button class="btn btn-xs" (click)="deleteCritere(C.id)" style="padding: 0px;"><i class="fa fa-trash" aria-hidden="true" style="color: red;"></i></button>
                                            </td>
                                        </tr>
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-cont-wrap" id="dataTable">
                    <div class="file-cont-inner">
                        <div class="file-cont-header">
                            <div class="file-options">
                                <a href="javascript:void(0)" id="file_sidebar_toggle" class="file-sidebar-toggle">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                            <span>{{'Scoring' | translate}}</span>
                            <div class="file-options">
                            </div>
                        </div>
                        <div class="file-content">
                            <div class="file-search">
                                <!-- Search Filter -->
                                <div class="row filter-row">
                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" (input)="searchName($event.target.value)">
                                            <label class="focus-label">{{'Name' | translate}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" (input)="searchCity($event.target.value)">
                                            <label class="focus-label">{{'City' | translate}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                                        <div class="form-group form-focus select-focus">
                                            <select class="select form-control" (input)="searchStatus($event.target.value)">
                                                <option value = ""> -- Select -- </option>
                                                <option value = "approved"> {{'Approved' | translate}} </option>
                                                <option value = "pending"> {{'Pending' | translate}} </option>
                                            </select>
                                            <label class="focus-label">{{'Status' | translate}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                                        <div class="form-group form-focus">
                                            <input type="number" class="form-control floating" (input)="searchMinExp($event.target.value)">
                                            <label class="focus-label">Min Exp</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                                        <div class="form-group form-focus">
                                            <input type="number" class="form-control floating" (input)="searchMaxExp($event.target.value)" >
                                            <label class="focus-label">Max Exp</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                                        <div class="card dash-widget" style="max-height: 50px;">
                                            <div class="card-header text-center" style="max-height: 50px;">
                                                <h3 style="color: rgba(49, 0, 128, 0.85);">{{this.allCandidatures.length}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Search Filter -->
                            </div>
                            <div class="file-body">
                                <div class="file-scroll">
                                    <div class="file-content-inner">
                                        <div class="row row-sm">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id = "datatable" class="table table-striped custom-table mb-0 datatable">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'Name' | translate}}</th>
                                                                <th>{{'Phone' | translate}}</th>
                                                                <th>Email</th>
                                                                <th>{{'City' | translate}}</th>
                                                                <th>{{'Experience' | translate}}</th>
                                                                <th>{{'Score' | translate}}</th>
                                                                <th class="text-center">{{'Status' | translate}}</th>
                                                                <th class="text-right">{{'Actions' | translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let candidature of allCandidatures;let i = index">
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a routerLink="/entreprise/hr/candidature/{{candidature.id}}" class="avatar"><img
                                                                                src="assets/img/profiles/avatar-01.jpg" alt=""></a>
                                                                        <strong>{{candidature.firstName}} {{candidature.lastName}}</strong>
                                                                    </h2>
                                                                </td>
                                                                <td>{{candidature.phone}}</td>
                                                                <td>{{candidature.email}}</td>
                                                                <td>{{candidature.city}}</td>
                                                                <td>{{candidature.yearsExp}}</td>
                                                                <td>{{candidature.score}}</td>
                                                                <td class="text-center">
                                                                    <div class="dropdown action-label" *ngIf="candidature.status === 'approved'">
                                                                        <a class="btn btn-white btn-sm btn-rounded">
                                                                            <i class="fa fa-dot-circle-o text-success"></i> {{'Approved' | translate}}
                                                                        </a>
                                                                    </div>
                                                                    <div class="dropdown action-label" *ngIf="candidature.status === 'pending'">
                                                                        <a class="btn btn-white btn-sm btn-rounded">
                                                                            <i class="fa fa-dot-circle-o text-danger"></i> {{'Pending' | translate}}
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="dropdown dropdown-action">
                                                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                            <a class="dropdown-item" href="javascript:" data-toggle="modal"
                                                                                data-target="#edit_status" (click)="edit(candidature.id)"><i class="fa fa-pencil m-r-5"></i> {{'Change Status' | translate}}</a>
                                                                                <a class="dropdown-item" routerLink = "/entreprise/hr/candidature/{{candidature.id}}"><i class="fa fa-eye m-r-5"></i> {{'View Details' | translate}}</a>
                                                                            <a  class="dropdown-item" href="javascript:" data-toggle="modal"
                                                                                data-target="#delete_candidature" (click)="tempIdCan = candidature.id"><i class="fa fa-trash-o m-r-5"></i> {{'Delete' | translate}}</a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->

<!-- Add Critere Modal -->
<div id="add_critere" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'Add Critere' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addCritereForm="ngForm" (submit)="CreateCritere()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Name' | translate}}</label>
                                <input type="text" class="form-control" name="name" required  [(ngModel)]="critere.name" #name="ngModel" >
                                <div *ngIf="name.errors && (name.dirty || name.touched)">
                                    <div [hidden]="!name.errors.required">
                                        <small class="text-danger"> *{{'Name is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'Weight' | translate}} %</label>
                                <input type="number" class="form-control" name="weight" required [(ngModel)]="critere.weight" #weight="ngModel" min="1" max="100">
                                <div *ngIf="weight.errors && (weight.dirty || weight.touched)">
                                    <div [hidden]="!weight.errors.required">
                                        <small class="text-danger"> *{{'Weight is required' | translate}} !</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" [disabled]="!addCritereForm.form.valid">{{'Submit' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Critere Modal -->

<!-- Edit Status Modal -->
<div id="edit_status" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'Edit Status' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editStatusForm="ngForm" (submit)="editStatus()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'Status' | translate}}</label>
                                <select id="status" class="form-control" name="status" required [(ngModel)]="candidature.status" #status="ngModel">
                                    <option *ngFor="let S of statusList" value="{{S.value}}" [selected]="S.value === candidature.status">{{S.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" [disabled]="!editStatusForm.form.valid">{{'Submit' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Status Modal -->

<!-- Delete Candidature Modal -->
<div class="modal custom-modal fade" id="delete_candidature" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>{{'Delete Candidature' | translate}}</h3>
                    <p>{{'Are you sure want to delete' | translate}}?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn" (click)="deleteCandidature()">{{'Delete' | translate}}</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">{{'Cancel' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Candidature Modal -->