<!-- Page Content -->
<!--
<div class="content container-fluid">

    <div class="modal custom-modal fade" id="connecting" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Connecting ...</h3>
                        <h4>please wait !</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
-->
<!-- /Page Content -->