<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <perfect-scrollbar [scrollIndicators]="false">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul *ngIf="sidebarMenus.default">
                    <li [ngClass]="{'active' : urlComplete.mainUrl === 'home'}">
                        <a routerLink="/entreprise/home/entreprise-home"><i class="la la-home"></i> <span>{{'Home' |
                                translate}}</span></a>
                    </li>
                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'dashboard' }"
                        *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'dashboard' }">
                            <i class="la la-dashboard"></i>
                            <span>{{'Dashboard' | translate}}</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul style="display: none;"
                            [ngStyle]="{ 'display' : urlComplete.mainUrl === 'dashboard' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/dashboard/admin" *ngIf="isEntrepriseManager()"><a
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'admin' }"
                                    href="javascript:">{{'Admin Dashboard' | translate}}</a></li>
                            <li routerLink="/entreprise/dashboard/hr" *ngIf="isEntrepriseHR()"><a
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'hr' }" href="javascript:">{{'HR Dashboard' | translate}}</a></li>
                        </ul>
                    </li>
                    <li class="submenu"
                        [ngClass]="{ 'active' : urlComplete.mainUrl === 'hr' || urlComplete.mainUrl === 'interviews'}"
                        *ngIf="this.isAccepted && isEntrepriseHR()">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'hr' }"><i
                                class="la la-users"></i> <span> {{'HR' | translate}} </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                            [ngStyle]="{ 'display' : (urlComplete.mainUrl === 'hr'  || urlComplete.mainUrl === 'interviews') ? 'block' : 'none' }">
                            <li routerLink="/entreprise/hr/offers">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'offers' || urlComplete.subUrl === 'offer-details'}"><i
                                        class="la la-briefcase"></i> <span style="margin-left: 10px;"> {{'Offers' |
                                        translate}}</span></a>
                            </li>
                            <li routerLink="/entreprise/hr/preselection-campaigns">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'preselection-campaigns' || urlComplete.subUrl === 'preselection-campaign' || urlComplete.subUrl === 'candidature'}"><i
                                        class="la la-edit"></i> <span style="margin-left: 10px; font-size: 0.9em;">
                                        {{'Preselection Campaigns' | translate}}</span></a>
                            </li>
                            <!-- 
                            <li routerLink="/entreprise/hr/interview-campaigns">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'interview-campaigns'}"><i class="la la-bullhorn"></i> <span style="margin-left: 10px;">Interview Campaigns</span></a>
                            </li> -->
                            <!-- manage the interviews -->
                            <li routerLink="/entreprise/interviews/list-offers">
                                <a href="javascript:"
                                    [ngClass]="{'active' : pathsInterview.includes(urlComplete.subUrl)}"><i
                                        class="la la-bullhorn"></i> <span style="margin-left: 10px;">{{'Interview Campaigns' | translate}}</span></a>
                            </li>

                            <li routerLink="/entreprise/hr/candidatures">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'candidatures'}"><i
                                        class="la la-graduation-cap"></i> <span
                                        style="margin-left: 10px;">{{'Candidatures' | translate}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu"
                        [ngClass]="{ 'active' : urlComplete.mainUrl === 'users' || urlComplete.mainUrl === 'settings' }"
                        *ngIf="this.isAccepted && isEntrepriseManager()">
                        <a href="javascript:"
                            [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'users' || urlComplete.mainUrl === 'settings'}">
                            <i class="la la-user"></i>
                            <span>Admin</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul style="display: none;"
                            [ngStyle]="{ 'display' : urlComplete.mainUrl === 'users' || urlComplete.mainUrl === 'settings' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/users/entreprise-users"><a
                                    [ngClass]="{'active' : urlComplete.subUrl === 'entreprise-users' || urlComplete.subUrl === 'create-entreprise-user' || urlComplete.subUrl === 'edit-entreprise-user'}"
                                    href="javascript:"><i class="la la-user-plus"></i> <span
                                        style="margin-left: 10px;">{{'Users' | translate}}</span></a></li>
                            <li routerLink="/entreprise/settings/company-settings"><a
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'company-settings' }"
                                    href="javascript:"><i class="la la-cog"></i> <span
                                        style="margin-left: 10px;">{{'Settings' | translate}}</span></a></li>
                        </ul>
                    </li>


                    <li class="submenu"
                        [ngClass]="{ 'active' : urlComplete.mainUrl === 'apps' || urlComplete.mainUrl === 'knowledgebase' || urlComplete.mainUrl === 'activities' || urlComplete.mainUrl === 'tickets'}"
                        *ngIf="this.isAccepted">
                        <a href="javascript:"
                            [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'apps' || urlComplete.mainUrl === 'knowledgebase' || urlComplete.mainUrl === 'activities' || urlComplete.mainUrl === 'tickets' }">
                            <i class="la la-external-link-square"></i>
                            <span> {{'Utilities' | translate}}</span>
                            <span class="menu-arrow"></span></a>
                        <ul style="display: none;"
                            [ngStyle]="{ 'display' : urlComplete.mainUrl === 'apps' || urlComplete.mainUrl === 'knowledgebase' || urlComplete.mainUrl === 'activities' || urlComplete.mainUrl === 'tickets' ? 'block' : 'none' }">
                            <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'apps' }">
                                <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'apps' }">
                                    <i class="la la-cube"></i>
                                    <span style="margin-left: 10px;"> {{'Apps' | translate}}</span>
                                    <span class="menu-arrow"></span></a>
                                <ul style="display: none;"
                                    [ngStyle]="{ 'display' : urlComplete.mainUrl === 'apps' ? 'block' : 'none' }">
                                    <li routerLink="/entreprise/apps/chat"><a href="javascript:">{{'Chat' | translate}}</a></li>
                                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'calls' }">
                                        <a href="javascript:"
                                            [ngClass]="{ 'subdrop' : urlComplete.subUrl === 'calls' }">
                                            <span> {{'Calls' | translate}}</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <ul style="display: none;"
                                            [ngStyle]="{ 'display' : urlComplete.subUrl === 'calls' ? 'block' : 'none' }">
                                            <li routerLink="/entreprise/apps/calls/voice">
                                                <a [ngClass]="{ 'active' : urlComplete.childUrl === 'voice' }"
                                                    href="javascript:">{{'Voice Call' | translate}}</a>
                                            </li>
                                            <li routerLink="/entreprise/apps/calls/video">
                                                <a [ngClass]="{ 'active' : urlComplete.childUrl === 'video' }"
                                                    href="javascript:"> {{'Video Call' | translate}}</a>
                                            </li>
                                            <li routerLink="/entreprise/apps/calls/outgoing">
                                                <a [ngClass]="{ 'active' : urlComplete.childUrl === 'outgoing' }"
                                                    href="javascript:"> {{'Outgoing Call' | translate}}</a>
                                            </li>
                                            <li routerLink="/entreprise/apps/calls/incoming">
                                                <a [ngClass]="{ 'active' : urlComplete.childUrl === 'incoming' }"
                                                    href="javascript:"> {{'Incoming Call' | translate}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li routerLink="/entreprise/apps/calendar">
                                        <a href="javascript:"
                                            [ngClass]="{ 'active' : urlComplete.subUrl === 'calendar' }">{{'Calendar' | translate}}</a>
                                    </li>
                                    <li routerLink="/entreprise/apps/contacts">
                                        <a href="javascript:"
                                            [ngClass]="{ 'active' : urlComplete.subUrl === 'contacts' }"> {{'Contacts' | translate}}</a>
                                    </li>
                                    <li routerLink="/entreprise/apps/email">
                                        <a href="javascript:"
                                            [ngClass]="{ 'active' : urlComplete.subUrl === 'email' }">{{'Email' | translate}}</a>
                                    </li>
                                    <li routerLink="/entreprise/apps/file-manager">
                                        <a href="javascript:"
                                            [ngClass]="{ 'active' : urlComplete.subUrl === 'file-manager' }">{{'File Manager' | translate}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li routerLink="/entreprise/knowledgebase/knowledgebase-main">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'knowledgebase-main'}">
                                    <i class="la la-question"></i> <span
                                        style="margin-left: 10px;">{{'Knowledgebase' | translate}}</span></a>
                            </li>

                            <li routerLink="/entreprise/activities/activities-main">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'activities-main'}"><i
                                        class="la la-bell"></i> <span style="margin-left: 10px;"> {{'Activities' | translate}}</span></a>
                            </li>

                            <li routerLink="/entreprise/tickets/ticketscontent">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'ticketscontent' || urlComplete.subUrl === 'ticketsview'}"><i
                                        class="la la-ticket"></i> <span style="margin-left: 10px;">{{'Tickets' | translate}}</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'pages' }">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'pages' }"><i
                                class="la la-object-ungroup"></i> <span>{{'Extras' | translate}}</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                            [ngStyle]="{ 'display' : urlComplete.mainUrl === 'pages' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/pages/faq">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'faq'}"><i
                                        class="la la-info"></i> <span style="margin-left: 10px;">{{'FAQ' | translate}}</span></a>
                            </li>
                            <li routerLink="/entreprise/pages/terms">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'terms'}"><i
                                        class="la la-file-text"></i><span style="margin-left: 10px;">{{'Terms' | translate}}</span></a>
                            </li>
                            <li routerLink="/entreprise/pages/privacy-policy">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'privacy-policy'}"><i
                                        class="la la-user-lock"></i><span style="margin-left: 10px;">{{'Privacy Policy' | translate}}</span></a>
                            </li>
                        </ul>
                    </li>

                    <!--
                    <li [ngClass]="{'active' : urlComplete.subUrl === 'assets-main'}" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/assets/assets-main" ><i
                                class="la la-object-ungroup"></i> <span>Assets</span></a>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'jobs' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'jobs' }"><i class="la la-briefcase"></i> <span> Jobs </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'jobs' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/jobs/manage-jobs">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'manage-jobs' || urlComplete.subUrl === 'job-details'}">
                                    Manage Jobs </a>
                            </li>
                            <li routerLink="/entreprise/jobs/job-applicants">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'job-applicants'}">
                                    Applied Candidates </a>
                            </li>
                        </ul>
                    </li>  

                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'company-settings'}" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/settings/company-settings" ><i
                                class="la la-cog"></i> <span>Settings</span></a>
                    </li>
                    <li class="menu-title" *ngIf="this.isAccepted && isEntrepriseHR()">
                        <span>HR</span>
                    </li> 

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'accounts' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'accounts' }"><i class="la la-files-o"></i> <span> Accounts </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'accounts' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/accounts/estimates">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'estimates' || urlComplete.subUrl === 'estimates-view' || urlComplete.subUrl === 'create-estimates' || urlComplete.subUrl === 'edit-estimates?id=1'}">Estimates</a>
                            </li>
                            <li routerLink="/entreprise/accounts/invoices">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'invoices' || urlComplete.subUrl === 'invoice-view' || urlComplete.subUrl === 'create-invoice' || urlComplete.subUrl === 'edit-invoice?id=1'}">Invoices</a>
                            </li>
                            <li routerLink="/entreprise/accounts/payments">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'payments'}">Payments</a>
                            </li>
                            <li routerLink="/entreprise/accounts/expenses">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'expenses'}">Expenses</a>
                            </li>
                            <li routerLink="/entreprise/accounts/provident-fund">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'provident-fund'}">Provident Fund</a>
                            </li>
                            <li routerLink="/entreprise/accounts/taxes">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'taxes'}">Taxes</a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'payroll' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'payroll' }"><i class="la la-money"></i> <span> Payroll </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'payroll' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/payroll/employee-salary">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'employee-salary'}">
                                    Employee Salary </a>
                            </li>
                            <li routerLink="/entreprise/payroll/salary-view">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'salary-view'}">
                                    Payslip </a>
                            </li>
                            <li routerLink="/entreprise/payroll/payroll-items">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'payroll-items'}">
                                    Payroll Items </a>
                            </li>
                        </ul>
                    </li>

                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'policies-main'}" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/policies/policies-main" ><i
                                class="la la-file-pdf-o"></i> <span>Policies</span></a>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'reports' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'reports' }"><i class="la la-pie-chart"></i> <span> Reports </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'reports' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/reports/expense-report">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'expense-report'}">
                                    Expense Report </a>
                            </li>
                            <li routerLink="/entreprise/reports/invoice-report">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'invoice-report'}">
                                    Invoice Report </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-title" *ngIf="this.isAccepted">
                        <span>Employees</span>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeepage' 
                         || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'holidays' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'adminleaves'
                        || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeeleaves' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'leavesettings'
                        || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'attendanceadmin' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'attendanceemployee'
                        || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'departments' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'designation'
                        || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'timesheet' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'overtime' 
                        || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeelist'}" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeepage' 
                        || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'holidays' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'adminleaves'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeeleaves' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'leavesettings'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'attendanceadmin' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'attendanceemployee'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'departments' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'designation'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'timesheet' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'overtime'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeelist'}" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeepage' 
                        || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'holidays' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'adminleaves'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeeleaves' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'leavesettings'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'attendanceadmin' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'attendanceemployee'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'departments' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'designation'
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'timesheet' || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'overtime' 
                       || urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeelist' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/employees/employeepage">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'employeepage' || urlComplete.subUrl === 'employeelist'}">All Employees</a>
                            </li>
                            <li routerLink="/entreprise/employees/holidays">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'holidays'}">Holidays</a>
                            </li>
                            <li routerLink="/entreprise/employees/adminleaves">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'adminleaves'}">Leaves (Admin) <span
                                        class="badge badge-pill bg-primary float-right">1</span></a>
                            </li>
                            <li routerLink="/entreprise/employees/employeeleaves">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'employeeleaves'}">Leaves
                                    (Employee)</a>
                            </li>
                            <li routerLink="/entreprise/employees/leavesettings">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'leavesettings'}">Leave Settings</a>
                            </li>
                            <li routerLink="/entreprise/employees/attendanceadmin">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'attendanceadmin'}">Attendance
                                    (Admin)</a>
                            </li>
                            <li routerLink="/entreprise/employees/attendanceemployee">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'attendanceemployee'}">Attendance
                                    (Employee)</a>
                            </li>
                            <li routerLink="/entreprise/employees/departments">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'departments'}">Departments</a>
                            </li>
                            <li routerLink="/entreprise/employees/designation">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'designation'}">Designations</a>
                            </li>
                            <li routerLink="/entreprise/employees/timesheet">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'timesheet'}">Timesheet</a>
                            </li>
                            <li routerLink="/entreprise/employees/overtime">
                                <a href="javascript:"
                                    [ngClass]="{ 'active' : urlComplete.subUrl === 'overtime'}">Overtime</a>
                            </li>
                        </ul>
                    </li>

                    <li [ngClass]="{ 'active' : urlComplete.subUrl === 'clientspage' || urlComplete.subUrl === 'clientslist' }" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/clients/clientspage" ><i
                                class="la la-users"></i> <span>Clients</span></a>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'projects' || urlComplete.subUrl === 'projectlist'|| urlComplete.subUrl === 'projectview' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'projects' || urlComplete.subUrl === 'projectlist'|| urlComplete.subUrl === 'projectview' }"href="javascript:"><i class="la la-rocket"></i> <span> Projects</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'projects' || urlComplete.subUrl === 'projectlist'|| urlComplete.subUrl === 'projectview' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/projects/projectpage">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'projectpage'|| urlComplete.subUrl === 'projectlist'|| urlComplete.subUrl === 'projectview'}">Projects</a>
                            </li>
                            <li routerLink="/entreprise/projects/tasks">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'tasks'}">Tasks</a>
                            </li>
                            <li routerLink="/entreprise/projects/taskboard">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'taskboard'}">Task
                                    Board</a>
                            </li>
                        </ul>
                    </li>

                    <li [ngClass]="{'active' : urlComplete.subUrl === 'leadscontent'}" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/leads/leadscontent"  ><i
                                class="la la-user-secret"></i> <span>Leads</span></a>
                    </li>

                    <li class="menu-title" *ngIf="this.isAccepted">
                        <span>Performance</span>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'performance' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'performance' }"><i class="la la-graduation-cap"></i> <span> Performance </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'performance' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/performance/performanceindicator">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'performanceindicator'}"> Performance
                                    Indicator </a>
                            </li>
                            <li routerLink="/entreprise/performance/performancereview">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'performancereview'}"> Performance
                                    Review </a>
                            </li>
                            <li routerLink="/entreprise/performance/performanceappraisal">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'performanceappraisal'}"> Performance
                                    Appraisal </a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'goals' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'goals' }"><i class="la la-crosshairs"></i> <span> Goals </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'goals' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/goals/goallist">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'goallist'}"> Goal
                                    List </a>
                            </li>
                            <li routerLink="/entreprise/goals/goaltype">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'goaltype'}"> Goal
                                    Type </a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'training' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'training' }"><i class="la la-edit"></i> <span> Training </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'training' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/training/traininglist">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'traininglist'}">
                                    Training List </a>
                            </li>
                            <li routerLink="/entreprise/training/trainers">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'trainers'}">
                                    Trainers</a>
                            </li>
                            <li routerLink="/entreprise/training/trainingtype">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'trainingtype'}">
                                    Training Type </a>
                            </li>
                        </ul>
                    </li>

                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'promotionmain'}" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/promotion/promotionmain" ><i class="la la-bullhorn"></i> <span>Promotion</span></a>
                    </li>

                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'resignationmain'}" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/resignation/resignationmain" ><i
                                class="la la-external-link-square"></i> <span>Resignation</span></a>
                    </li>

                    <li [ngClass]="{'active' : urlComplete.subUrl === 'terminationmain'}" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/termination/terminationmain" ><i
                                class="la la-times-circle"></i> <span>Termination</span></a>
                    </li>

                    <li class="menu-title" *ngIf="this.isAccepted">
                        <span>Pages</span>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeeprofile' || urlComplete.mainUrl === 'clients' && urlComplete.subUrl === 'clientsprofile'}" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeeprofile' || urlComplete.mainUrl === 'clients' && urlComplete.subUrl === 'clientsprofile'}"><i class="la la-user"></i> <span> Profile </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'employees' && urlComplete.subUrl === 'employeeprofile' || urlComplete.mainUrl === 'clients' && urlComplete.subUrl === 'clientsprofile' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/employees/employeeprofile">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'employeeprofile'}">
                                    Employee Profile </a>
                            </li>
                            <li routerLink="/entreprise/clients/clientsprofile/1">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'clientsprofile'}">
                                    Client Profile </a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'login' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'login' }"><i class="la la-key"></i> <span> Authentication </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'login' ? 'block' : 'none' }">
                            <li routerLink="/login/">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'login'}"> Login
                                </a>
                            </li>
                            <li routerLink="/login/register">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'register'}">
                                    Register </a>
                            </li>
                            <li routerLink="/login/forgot">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'forgot'}"> Forgot
                                    Password </a>
                            </li>
                            <li routerLink="/login/otp">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'otp'}"> OTP </a>
                            </li>
                            <li routerLink="/login/lockscreen">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'lockscreen'}"> Lock
                                    Screen </a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'error' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'error' }"><i class="la la-exclamation-triangle"></i> <span> Error Pages </span>
                            <span class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'error' ? 'block' : 'none' }">
                            <li routerLink="/error/error404">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'error404'}">404
                                    Error </a>
                            </li>
                            <li routerLink="/error/error500">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'error500'}">500
                                    Error </a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'pages' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'pages' }"><i class="la la-columns"></i> <span> Pages </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'pages' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/pages/search">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'search'}"> Search
                                </a>
                            </li>
                            <li routerLink="/entreprise/pages/faq">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'faq'}"> FAQ </a>
                            </li>
                            <li routerLink="/entreprise/pages/terms">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'terms'}"> Terms
                                </a>
                            </li>
                            <li routerLink="/entreprise/pages/privacy-policy">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'privacy-policy'}">
                                    Privacy Policy </a>
                            </li>
                            <li routerLink="/entreprise/pages/blank-page">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'blank-page'}">
                                    Blank Page </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-title" *ngIf="this.isAccepted">
                        <span>UI Interface</span>
                    </li>

                    <li [ngClass]="{'active' : urlComplete.subUrl === 'component-main'}" *ngIf="this.isAccepted">
                        <a routerLink="/entreprise/components/component-main" ><i
                                class="la la-puzzle-piece"></i> <span>Components</span></a>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'forms' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'forms' }"><i class="la la-object-group"></i> <span> Forms </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'forms' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/forms/basic-inputs">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'basic-inputs'}">Basic Inputs </a>
                            </li>
                            <li routerLink="/entreprise/forms/input-groups">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'input-groups'}">Input Groups </a>
                            </li>
                            <li routerLink="/entreprise/forms/horizontal-form">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'horizontal-form'}">Horizontal Form
                                </a>
                            </li>
                            <li routerLink="/entreprise/forms/vertical-form">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'vertical-form'}">
                                    Vertical Form </a>
                            </li>
                            <li routerLink="/entreprise/forms/form-mask">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'form-mask'}"> Form
                                    Mask </a>
                            </li>
                            <li routerLink="/entreprise/forms/form-validation">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'form-validation'}">
                                    Form Validation </a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu" [ngClass]="{ 'active' : urlComplete.mainUrl === 'tables' }" *ngIf="this.isAccepted">
                        <a href="javascript:" [ngClass]="{ 'subdrop' : urlComplete.mainUrl === 'tables' }"><i class="la la-table"></i> <span> Tables </span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;"
                        [ngStyle]="{ 'display' : urlComplete.mainUrl === 'tables' ? 'block' : 'none' }">
                            <li routerLink="/entreprise/tables/basic-tables">
                                <a href="javascript:"
                                    [ngClass]="{'active' : urlComplete.subUrl === 'basic-tables'}">Basic Tables </a>
                            </li>
                            <li routerLink="/entreprise/tables/data-tables">
                                <a href="javascript:" [ngClass]="{'active' : urlComplete.subUrl === 'data-tables'}">Data
                                    Table </a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="javascript:"><i class="la la-share-alt"></i> <span style="margin-left: 10px;">Multi Level</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li class="submenu">
                                <a href="javascript:"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="javascript:"><span>Level 2</span></a></li>
                                    <li class="submenu">
                                        <a href="javascript:"> <span> Level 2</span> <span
                                                class="menu-arrow"></span></a>
                                        <ul style="display: none;">
                                            <li><a href="javascript:">Level 3</a></li>
                                            <li><a href="javascript:">Level 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:"> <span>Level 2</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:"> <span>Level 1</span></a>
                            </li>
                        </ul>
                    </li>
                     -->


                </ul>
                <ul *ngIf="this.isAccepted && sidebarMenus.chat">
                    <li routerLink="/entreprise/dashboard/admin">
                        <a href="javascript:"><i class="la la-home"></i> <span>Back to Home</span></a>
                    </li>
                    <li class="menu-title"><span>Chat Groups</span> <a href="javascript:" data-toggle="modal"
                            data-target="#add_group"><i class="la la-plus"></i></a></li>
                    <li>
                        <a href="javascript:" *ngFor="let item of groups.total">
                            <span class="chat-avatar-sm user-img">
                                <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-05.jpg">
                            </span>
                            <span class="chat-user">#{{ item | titlecase }}</span>
                        </a>
                    </li>
                    <li class="menu-title">Direct Chats <a data-toggle="modal" data-target="#add_chat_user"><i
                                class="la la-plus"></i></a></li>
                    <li [ngClass]="{ 'active' : members.active == item.name }" (click)="setActive(item.name)"
                        *ngFor="let item of members.total">
                        <a href="javascript:">
                            <span class="chat-avatar-sm user-img">
                                <img class="rounded-circle" alt="" src="assets/img/profiles/avatar-05.jpg"><span
                                    class="status online"></span>
                            </span>
                            <span class="chat-user">{{item.name}}</span> <span class="badge badge-pill bg-danger"
                                [hidden]="item.count < 1">{{item.count}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </perfect-scrollbar>
    </div>
</div>
<!-- /Sidebar -->