<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">{{'Welcome' | translate}} {{userInformations.given_name}} !</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">{{'HR Dashboard' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-briefcase"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{NumberOfOpenedOffers}}</h3>
                        <span>{{'Opened Offers' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-graduation-cap"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{NumberOfCandidatures}}</h3>
                        <span>{{'Candidatures' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-bullhorn"></i></span>
                    <div class="dash-widget-info">
                        <h3> {{NumberOfInterviewsCampaigns}} </h3>
                        <span>{{'Interviews Campaigns' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"></span>
                    <div class="dash-widget-info">
                        <h3></h3>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">{{'Opened Offers' | translate}}</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-nowrap custom-table mb-0">
                            <thead>
                                <tr>
                                    <th>{{'Offer' | translate}}</th>
                                    <th>{{'Nb Candidatures' | translate}}</th>
                                    <th>{{'Score' | translate}} > 80%</th>
                                    <th>{{'Status Approved' | translate}}</th>
                                    <th>{{'Expired Date' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let offer of offers; let i = index">
                                    <td>
                                        <a routerLink = "/entreprise/hr/offer-details/{{offer.id}}">{{offer.title}}</a>
                                    </td>
                                    <td> {{offer.candidatures.length}} </td>
                                    <td> {{scoresOver80[i]}} candidat(s)</td>
                                    <td> {{statusApproved[i]}} candidat(s)</td>
                                    <td> {{offer.expiredDate | date: 'MMM d, y'}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink = "/entreprise/hr/offers">{{'View all offers' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">{{'Interviews Campaigns' | translate}}</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table custom-table table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th>{{'Title' | translate}}</th>
                                    <th>{{'Created Date' | translate}}</th>
                                    <th>{{'Nb Candidats' | translate}} </th>
                                    <th>{{'Hired' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let offer of offers2; let i = index">
                                    <td><a routerLink="/entreprise/interviews/interviews-by-offer/{{offer.id}}"> {{offer.title}} </a></td>
                                    <td> {{offer.workflowInterview[0].createdDate | date: 'MMM d, y'}} </td>
                                    <td>{{statusApproved2[i]}}</td>
                                    <td>{{candidatsHired[i]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink = "/entreprise/interviews/list-offers">{{'View all campaigns' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">Clients</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table custom-table mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-05.jpg"></a>
                                            <a routerLink="/employees/employeeprofile">Barry Cuda <span>CEO</span></a>
                                        </h2>
                                    </td>
                                    <td>barrycuda@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-success"></i> Active
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-011.jpg"></a>
                                            <a routerLink="/employees/employeeprofile">Tressa Wexler
                                                <span>Manager</span></a>
                                        </h2>
                                    </td>
                                    <td>tressawexler@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-07.jpg"></a>
                                            <a routerLink="/employees/employeeprofile">Ruby Bartlett
                                                <span>CEO</span></a>
                                        </h2>
                                    </td>
                                    <td>rubybartlett@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-06.jpg"></a>
                                            <a routerLink="/employees/employeeprofile"> Misty Tison <span>CEO</span></a>
                                        </h2>
                                    </td>
                                    <td>mistytison@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-success"></i> Active
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-014.jpg"></a>
                                            <a routerLink="/employees/employeeprofile"> Daniel Deacon
                                                <span>CEO</span></a>
                                        </h2>
                                    </td>
                                    <td>danieldeacon@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/clients/clientspage">View all clients</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">Recent Projects</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table custom-table mb-0">
                            <thead>
                                <tr>
                                    <th>Project Name </th>
                                    <th>Progress</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/projects/projectview">Office Management</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>1</span> <span class="text-muted">open tasks, </span>
                                            <span>9</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-toggle="tooltip"
                                                title="65%" style="width: 65%"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/projects/projectview">Project Management</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>2</span> <span class="text-muted">open tasks, </span>
                                            <span>5</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-toggle="tooltip"
                                                title="15%" style="width: 15%"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/projects/projectview">Video Calling App</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>3</span> <span class="text-muted">open tasks, </span>
                                            <span>3</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-toggle="tooltip"
                                                title="49%" style="width: 49%"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/projects/projectview">Hospital Administration</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>12</span> <span class="text-muted">open tasks, </span>
                                            <span>4</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-toggle="tooltip"
                                                title="88%" style="width: 88%"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/projects/projectview">Digital Marketplace</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>7</span> <span class="text-muted">open tasks, </span>
                                            <span>14</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-toggle="tooltip"
                                                title="100%" style="width: 100%"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/projects/projectpage">View all projects</a>
                </div>
            </div>
        </div>
    </div>
    -->

</div>
<!-- /Page Content -->
