<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{{'Candidatures' | translate}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="entreptise/Dashboard">{{'Dashboard'| translate}}</a></li>
                    <li class="breadcrumb-item active">{{'Candidatures' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    <!-- Search Filter -->
    <!--
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchOffer($event.target.value)">
                <label class="focus-label">Offer</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchName($event.target.value)">
                <label class="focus-label">Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchCity($event.target.value)">
                <label class="focus-label">City</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="searchStatus($event.target.value)">
                    <option value = ""> -- Select -- </option>
                    <option value = "approved"> Approved </option>
                    <option value = "pending"> Pending </option>
                </select>
                <label class="focus-label">Status</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="number" class="form-control floating" (input)="searchMinExp($event.target.value)">
                <label class="focus-label">Min Exp</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="number" class="form-control floating" (input)="searchMaxExp($event.target.value)" >
                <label class="focus-label">Max Exp</label>
            </div>
        </div>
    </div>
    -->
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id = "datatable" class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>{{'Offer' | translate}}</th>
                            <th>{{'Name' | translate}}</th>
                            <th>{{'Phone' | translate}}</th>
                            <th>Email</th>
                            <th>{{'City' | translate}}</th>
                            <th>{{'Experience' | translate}}</th>
                            <th>{{'Score' | translate}}</th>
                            <th class="text-center">{{'Status' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let offer of allOffers">
                            <tr *ngFor="let candidature of offer.candidatures;">
                                <td>{{offer.title}}</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a routerLink="/entreprise/hr/candidature/{{candidature.id}}" class="avatar"><img
                                                src="assets/img/profiles/avatar-01.jpg" alt=""></a>
                                        <strong>{{candidature.firstName}} {{candidature.lastName}}</strong>
                                    </h2>
                                </td>
                                <td>{{candidature.phone}}</td>
                                <td>{{candidature.email}}</td>
                                <td>{{candidature.city}}</td>
                                <td>{{candidature.yearsExp}}</td>
                                <td>{{candidature.score}}</td>
                                <td class="text-center">
                                    <div class="dropdown action-label" *ngIf="candidature.status === 'approved'">
                                        <a class="btn btn-white btn-sm btn-rounded">
                                            <i class="fa fa-dot-circle-o text-success"></i> {{'Approved' | translate}}
                                        </a>
                                    </div>
                                    <div class="dropdown action-label" *ngIf="candidature.status === 'pending'">
                                        <a class="btn btn-white btn-sm btn-rounded">
                                            <i class="fa fa-dot-circle-o text-danger"></i> {{'Pending' | translate}}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
