.clickable {
  cursor: pointer;
}

.tb th {
  border-top: none;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 10px;
}

.example-margin {
  //margin: 0 10px;
  height: 10px;
}