<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Estimates</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/entreprise/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Estimates</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a routerLink = "/entreprise/accounts/create-estimates" class="btn add-btn"><i class="fa fa-plus"></i> Create Estimate</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" bsDatepicker type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" (bsValueChange)="searchFromDate($event)">
                </div>
                <label class="focus-label">From</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" bsDatepicker type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" (bsValueChange)="searchToDate($event)">
                </div>
                <label class="focus-label">To</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="searchStatus($event.target.value)">
                    <option value = ''>Select Status</option>
                    <option value = "Accepted">Accepted</option>
                    <option value = "Declined">Declined</option>
                    <option value = "Expired">Expired</option>
                </select>
                <label class="focus-label">Status</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a  class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th>Estimate Number</th>
                            <th>Client</th>
                            <th>Estimate Date</th>
                            <th>Expiry Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estimate of estimates">
                            <td><a routerLink = "/accounts/estimates-view">{{estimate.number}}</a></td>
                            <td>{{estimate.client}}</td>
                            <td>{{estimate.estimate_date | customDate}}</td>
                            <td>{{estimate.expiry_date | customDate}}</td>
                            <td>{{estimate.grandTotal}}</td>
                            <td>
                                <span class="badge bg-inverse-success">{{estimate.status}}</span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" routerLink = "/entreprise/accounts/edit-estimates" [queryParams]="{id: estimate.id}"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal" (click)="deleteEstimate(estimate)"
                                            data-target="#delete_estimate"><i class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="estimates.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Delete Estimate Modal -->
<div class="modal custom-modal fade" id="delete_estimate" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Estimate</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a (click)="delete()"  class="btn btn-primary continue-btn" data-dismiss="modal">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Estimate Modal -->