<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">{{'Edit Entreprise User' | translate}}</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/entreprise/dashboard">{{'Dashboard' | translate}}</a></li>
                    <li class="breadcrumb-item active">{{'Edit Entreprise User' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <form #editUserForm="ngForm" (submit)="updateUser()">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'First Name' | translate}}</label>
                            <input type="text" class="form-control" name="firstName" required  [(ngModel)]="user.firstName" #firstName="ngModel" >
                            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                                <div [hidden]="!firstName.errors.required">
                                    <small class="text-danger"> *First Name is required !</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'Last Name' | translate}}</label>
                            <input type="text" class="form-control" name="lastName" required  [(ngModel)]="user.lastName" #lastName="ngModel" >
                            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                                <div [hidden]="!lastName.errors.required">
                                    <small class="text-danger"> *Last Name is required !</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'Username' | translate}}</label>
                            <input type="text" class="form-control" name="username" readonly  [(ngModel)]="user.username" #username="ngModel" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" required required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  [(ngModel)]="user.email" #email="ngModel" >
                            <div *ngIf="email.errors && (email.dirty || email.touched)">
                                <div [hidden]="!entr_email.errors?.pattern">
                                    <small class="text-danger"> *Invalid Email !</small>
                                </div>
                                <div [hidden]="!email.errors.required">
                                    <small class="text-danger"> *Email is required !</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'Roles' | translate}} </label>
                            <div class="offset-2 col-sm-10" *ngFor="let R of roles">
                                <input class="form-check-input" (change)="onChange(R, $event.target.checked)" name="{{ R.name }}" type="checkbox" id="{{R.name}}" [checked] = "toggleCheckBox(R)">
                                <label class="form-check-label" for="{{R.name}}">
                                    {{R.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="submit-section offset-4 col-sm-2">
                        <button class="btn btn-primary submit-btn" [disabled]="!editUserForm.form.valid">{{'Save' | translate}}</button>
                    </div>
                    <div class="submit-section col-sm-2" style="margin-left: 40px;">
                        <button type="button" class="btn btn-info cancel-btn" routerLink="/entreprise/users/entreprise-users" >{{'Cancel' | translate}}</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->