<!-- Page Content -->
<div class="content container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="file-wrap">
                <div class="file-sidebar">
                    <div class="file-header justify-content-center">
                        <span>Projects</span>
                        <a id="sidebar_toggle"  class="file-side-close"><i
                                class="fa fa-times"></i></a>
                    </div>
                    <form class="file-search">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="fa fa-search"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Search"
                                (input)="searchBName($event.target.value)">
                        </div>
                    </form>
                    <div class="file-pro-list">
                        <div class="file-scroll">
                            <ul class="file-menu" *ngFor="let item of searchFilterList">
                                <li class=" active">
                                    <a>{{item.name}}</a>
                                </li>
                            </ul>
                            <div class="show-more">
                                <a>Show More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-cont-wrap">
                    <div class="file-cont-inner">
                        <div class="file-cont-header">
                            <div class="file-options">
                                <a href="javascript:void(0)" id="file_sidebar_toggle" class="file-sidebar-toggle">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                            <span>File Manager</span>
                            <div class="file-options">
                                <span class="btn-file"><input type="file" class="upload"><i
                                        class="fa fa-upload"></i></span>
                            </div>
                        </div>
                        <div class="file-content">
                            <form class="file-search">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search"
                                        (input)="searchText($event.target.value)">
                                </div>
                            </form>
                            <div class="file-body">
                                <div class="file-scroll">
                                    <div class="file-content-inner">
                                        <h4>Recent Files</h4>
                                        <div class="row row-sm">
                                            <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3"
                                                *ngFor="let data of lstSearchList">
                                                <div class="card card-file">
                                                    <div class="dropdown-file">
                                                        <a href="javascript:void(0)" class="dropdown-link" data-toggle="dropdown"><i
                                                                class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item">View Details</a>
                                                            <a class="dropdown-item">Share</a>
                                                            <a class="dropdown-item">Download</a>
                                                            <a class="dropdown-item">Rename</a>
                                                            <a class="dropdown-item">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-file-thumb">
                                                        <i class="fa fa-file-pdf-o"></i>
                                                    </div>
                                                    <div class="card-body">
                                                        <h6><a href="javascript:void(0)">{{data.name}}</a></h6>
                                                        <span>{{data.size}}</span>
                                                    </div>
                                                    <div class="card-footer">
                                                        <span class="d-none d-sm-inline">Last Modified:
                                                        </span>{{data.last_modified}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->