<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Interview Campaigns</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="entreprise/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Interview Campaigns</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="offset-6 col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchTitle($event.target.value)">
                <label class="focus-label">Title</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id = "datatable" class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let campaign of allCampaigns;let i = index">
                            <td>
                                <strong>{{campaign.id}}</strong>
                            </td>
                            <td><a href="javascript:">{{campaign.title}}</a></td>
                            <td>{{campaign.description}}</td>
                            <td class="text-center">
                                <div class="dropdown action-label" *ngIf="campaign.status === 'open'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-success"></i> Open
                                    </a>
                                </div>
                                <div class="dropdown action-label" *ngIf="campaign.status === 'closed'">
                                    <a class="btn btn-white btn-sm btn-rounded">
                                        <i class="fa fa-dot-circle-o text-danger"></i> Closed
                                    </a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:"><i class="fa fa-eye m-r-5"></i> View Offer</a>
                                        <a class="dropdown-item" href="javascript:"><i class="fa fa-eye m-r-5"></i> View Campaign </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

